<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<li><a href="/celebrities/create">Create celebrity</a></li>
<li><a href="/celebrities">View all celebrity</a></li>
<li><a href="/movies">View all movies</a></li>
<li><a href="/movies/create">Create movie</a></li>